@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
.white {
    color:white;
}
.baby-pink {
    color:#FCD8D4;
}
h1 {
    font-family: 'Noticia Text', serif;
}
h2 {
    font-family: 'Noticia Text', serif;
    color: #1044FF;
    font-size: 2rem;
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #1044FF;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    color:#333333;
}
a {
    text-decoration: initial;
}
figure {
    padding: 0px;
    margin: 0px;
}
figcaption {
    font-family: "Source Sans Pro", sans-serif;
    color: #112a52;
    font-size: 22px;
    padding-top: 0px;
    margin: 0px;
    font-weight: bold;
}
article > h2 {
    font-size:20px;
}
article > figure > img {
    width:100%;
    padding:0;
    margin:0;
    margin-top: 25px;
    margin-bottom: 0px;
    border:0;
    align-self: center;
    box-shadow: 5px 5px 10px #333333;
    border-radius: 10px;
}
article > figure {
    padding:0px;
    margin:0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body {
    margin: 0 auto;
    padding:0px auto;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 670px 80px;
    grid-template-areas: 
    "header"
    "main"
    "references"
    "footer"
    "credits";
}
header {
    background-color: #FFE7E7;
    grid-area: header;
    padding: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    width: 100%;
}
nav {
    justify-content:space-between;
    flex-direction: row;
    display:flex;
}
main {
    grid-area: main;
    display:flex;
    flex-direction: column;
    margin:0 auto; 
    padding: 20px;
    padding-top: 25px;
    justify-content: center;
}
#main-page-link {
    font-size: 18px;
    display: inline;
}
#main-title {
    color: #1044FF;
    font-size: 72px;
    line-height: 100%;
    margin-bottom: 10px;
}
#author-container {
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    padding: 0px;
    align-content:center;
    justify-content:space-between;
}
#author-info-top {
    display:flex;
    flex-direction: row;
    padding: 0px;
    align-content:center;
    justify-content:space-between;
}
#author-image-top {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    align-self: center;
    margin-right: 10px;
}
#author-name-top {
    font-size: 16px;
    justify-self: f;
}
.author-info {
    display:flex;
    flex-direction: row;
    padding: 0px;
    align-content:center;
    justify-content:flex-start;
}
.author-image {
    margin-top: 10px;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
}
.author-name {
    font-size: 14px;
    margin-left: 10px;
}
#posts {
    margin-top: 40px;
}
#post-intro {
    font-size: 20px;
    color:#333333;
}
#second-title {
    color: rgba(17, 42, 82, 1);
    font-size: 24px;
}
#quote-container {
    margin-left: 15px;
    padding: 10px;
    border-left:solid;
    border-color: #1044FF;
    border-radius: 5px;
    height: fit-content;
}
.quote {
    font-family:'Merriweather', serif;
    font-size: 18px;
    text-shadow: 1px 1px 2px;
}
ul {
    list-style: none;
}
ul li::before {
    content: "\2022";
    color: #1044FF; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}
.list-items {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#bottom-tags-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.bottom-tags {
    font-family: 'Source Sans Pro', sans-serif;
    color: #112A52;
    font-weight: bold;
}
#author-card{
    margin-top:20px;
    border: 1px solid #1044FF;
    border-left: transparent;
    border-right: transparent;
    display:grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "img author"
    "img name"
    "img description";
    padding: 10px;
}
#author-card-img {
    grid-area:img;
    width: 70%;
    border-radius: 50px;
    justify-self: center;
    margin-top: 20px;
}
#author {
    grid-area:author;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: Bold;
    font-size: 12px;
    Line-height: 24px;
    Line-height: 159%;
}
#author-card-name {
    grid-area:name;
    font-family: 'Source Sans Pro', sans-serif;
    color: #112A52;
    font-size: 24px;
    margin: 0px;
}
#related-posts {
    color: #112A52;
    font-style: italic;
}
article figure {
    margin-top: 20px;
}
#references {
    grid-area: references;
    display: flex;
    align-content: center;
    justify-content: center;
}
#categories-container {
    border:1px solid blue;
    border-radius:3px;
    padding: 28px;
    margin: 20px;
    margin-top: 40px;
    width: 250px;
    align-self: center;
    justify-self:center;
}
#categories-title {
    color: #333333;
    margin-top: 0px;
}
#categories {
    border-bottom: 1px solid blue;
    display: flex;
    justify-content: space-between;
}
#categories-text {
    color: #333333;
    font-weight: bold;
}
footer {
    grid-area: footer;
    background: #1044FF;
    padding:20px;
    padding-top: 0px;
}
#footer-p {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
#footer-info {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "first-p second-p third-p";
    margin-top: 30px;
    align-items: center;
    justify-items: center;
}
footer >div >p{
    color:rgba(255, 255, 255, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 30px;
}
footer >div >p:first-line{
    color:white;
    font-weight: 700;
}
.social-media-icons {
    padding-right: 10px;
}
#credits { 
    grid-area: credits;
    background-color: #0C1F3F;
}
.credits-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    padding:20px;
}
/*Medium Screen Tablet display rules*/
@media screen and (min-width:455px) {
body {
    grid-template-rows:380px auto  auto 550px 80px;
}
header > h1 {
    margin:0 auto;
}
article {
    padding:7%; 
}
#posts {
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows:auto;
}
main {
    display:flex;
    flex-direction: column;
}
}
/* Desktop display rules*/
@media screen and (min-width:610px) {
body {
    display: grid;
    grid-template-columns: 66% 34%;
    grid-template-rows: 300px auto auto 80px;
    grid-template-areas: 
    "header header"
    "main references"
    "footer footer"
    "credits credits";
}
#posts {
    display: grid;
    grid-template-columns:33.3% 33.3% 33.4%;
    grid-template-rows:auto;
}
footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "social info";
}
footer > h2 {
    grid-area: social;
}
footer > p{
    grid-area: social;
    font-size:1rem;
}
#social {
    grid-area: social
}
}